# Sequences

### **O que é sequences?**

- **É um objeto que utilizamos para criação de números sequenciais únicos para as chaves primárias das tabelas.**
- **Desta forma, não precisamos preencher sequencias de IDs manualmente, podemos gerar atomaticamente por meio de uma sequencia.**

### **Sintaxe:**

> **CREATE SEQUENCE nome\_sequencia AS tipo**
> 
> **START WITH n          -\> configuramos o inicio**
> 
> **INCREMENT BY n     -\> qual vai ser o incremento**
> 
> **MAXVALUE n | NO MAXVALUE    -\> qual o valor maximo**
> 
> **MINVALUE n  | NO MINVALUE     -\>qual o valor minimo, caso seja regresivo**
> 
> **CYCLE | NO CYCLE; -\> quando atige o valor máximo, pode ou não valtar do começo.**

In [6]:
--> Criando sequences:

CREATE SEQUENCE clientes_seq AS INT
    START WITH 1         
    INCREMENT BY 1    
    MAXVALUE 999999
    NO CYCLE;

: Msg 2714, Level 16, State 8, Line 3
Já existe um objeto com nome 'clientes_seq' no banco de dados.

In [5]:
--> Próximo valor da sequência:
SELECT NEXT VALUE FOR clientes_seq;

(No column name)
3

# Criando Sequência para um tabela

In [7]:
--> Criando sequence
CREATE SEQUENCE projetos_seq AS INT
    START WITH 2
    INCREMENT BY 1
    NO MAXVALUE
    NO CYCLE;


--> Criando table
CREATE TABLE dprojeto(
    id_projeto INT,
    nome_projeto VARCHAR(100) NOT NULL,
    CONSTRAINT dareas_id_area_pk PRIMARY KEY(id_projeto)
);


--> Usando sequence para preencher table
INSERT INTO dprojeto 
    (id_projeto, nome_projeto)
VALUES
    (NEXT VALUE FOR projetos_seq,  'Projeto A'),
    (NEXT VALUE FOR projetos_seq,  'Desenvolvimento de app'),
    (NEXT VALUE FOR projetos_seq,  'Projeto marte'),
    (NEXT VALUE FOR projetos_seq,  'Operação cachorro quente');

In [8]:
SELECT * from dprojeto

id_projeto,nome_projeto
2,Projeto A
3,Desenvolvimento de app
4,Projeto marte
5,Operação cachorro quente

# **EXERCICIOS**

1. **Vamos criar sequences que serão utilizadas nas tabelas: Carro, Cliente e locações. Essas sequences serão chamadas de: cliente\_seq, carro\_seq e locação\_seq. Todas essas sequences devem começar pelo número 1 incrementar de 1 em 1 e não terem valro máximo.**

In [8]:
CREATE TABLE cliente (
    id_cliente INT,
    nome VARCHAR(100) NOT NULL,
    idade INT,
    CONSTRAINT id_cliente PRIMARY KEY (id_cliente)
);

CREATE TABLE carro (
    id_carro INT,
    nome VARCHAR(100) NOT NULL,
    idade INT,
    id_cliente INT,
    CONSTRAINT id_carro PRIMARY KEY (id_carro)

);


CREATE TABLE locacao(
    id_locacao INT,
    nome varchar(100) NOT NULL,
    dia_chekount DATE,
    id_cliente int,
    id_carro int,
    CONSTRAINT id_locacao_pk PRIMARY KEY(id_cliente),
    CONSTRAINT fk_cliente FOREIGN KEY (id_cliente) REFERENCES cliente(id_cliente),
    CONSTRAINT fk_carro FOREIGN KEY (id_carro) REFERENCES carro(id_carro)
);

In [26]:
DROP SEQUENCE clientes_seq
DROP SEQUENCE carro_seq
DROP SEQUENCE locacao_seq

CREATE SEQUENCE clientes_seq AS INT
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO CYCLE;

CREATE SEQUENCE carro_seq AS INT
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO CYCLE;

CREATE SEQUENCE locacao_seq AS INT
    START WITH 1
    INCREMENT BY 1
    NO MAXVALUE
    NO CYCLE;

DROP TABLE locacao;
DROP TABLE cliente;
DROP TABLE carro;


CREATE TABLE cliente(
    id_cliente INT,
    nome VARCHAR(100) NOT NULL,
    idade INT,
    CONSTRAINT id_cliente PRIMARY KEY (id_cliente)
);
CREATE TABLE carro (
    id_carro INT,
    nome VARCHAR(100) NOT NULL,
    CONSTRAINT id_carro PRIMARY KEY (id_carro)

);


CREATE TABLE locacao(
    id_locacao INT,
    nome varchar(100) NOT NULL,
    dia_chekount DATE,
    id_cliente int,
    id_carro int,
    CONSTRAINT id_locacao_pk PRIMARY KEY(id_cliente),
    CONSTRAINT fk_cliente FOREIGN KEY (id_cliente) REFERENCES cliente(id_cliente),
    CONSTRAINT fk_carro FOREIGN KEY (id_carro) REFERENCES carro(id_carro)
);

: Msg 2714, Level 16, State 8, Line 17
Já existe um objeto com nome 'locacao_seq' no banco de dados.

In [27]:
--> Inserindo dados nas tabelas
INSERT INTO cliente (id_cliente, nome, idade)
VALUES
    (NEXT VALUE FOR clientes_seq, 'João Silva', 30),
    (NEXT VALUE FOR clientes_seq, 'Maria Oliveira', 25),
    (NEXT VALUE FOR clientes_seq, 'Carlos Souza', 40);

INSERT INTO carro (id_carro, nome)
VALUES
    (NEXT VALUE FOR carro_seq, 'Toyota Corolla'),
    (NEXT VALUE FOR carro_seq, 'Honda Civic'),
    (NEXT VALUE FOR carro_seq, 'Ford Focus');

INSERT INTO locacao (id_locacao, nome, dia_chekount, id_cliente, id_carro)
VALUES
    (NEXT VALUE FOR locacao_seq, 'Locação 1', '2023-10-01', 1, 1),
    (NEXT VALUE FOR locacao_seq, 'Locação 2', '2023-10-02', 2, 2),
    (NEXT VALUE FOR locacao_seq, 'Locação 3', '2023-10-03', 3, 3);

In [29]:
SELECT * from locacao

id_locacao,nome,dia_chekount,id_cliente,id_carro
1,Locação 1,2023-10-01,1,1
2,Locação 2,2023-10-02,2,2
3,Locação 3,2023-10-03,3,3