# Transactions

\-\> Transaction é um aação realizada dentro do banco de dados. Essa ação pode ser uma: atualização, iserção ou exclusão de dados do banco. Precisamos de transação  quando estamos alterando o banco de alguma forma, seja inserindo, atualizando ou excluindo dados.

  

\-\> BEGIN TRANSACTION          : inicia

\-\> ROLLBACK TRANSACTION   : Desfaz

\-\> COMMIT                               : Salva

In [8]:
--> Criando tabela ciente_aux copiado a estrutura e os dados da tabela cliente:
SELECT * 
INTO CLIENTE_AUX
FROM Cliente

: Msg 2714, Level 16, State 6, Line 2
Já existe um objeto com nome 'CLIENTE_AUX' no banco de dados.

In [33]:
SELECT * FROM Cliente_aux

id_cliente,nome,idade
1,João Silva,30
2,Maria Oliveira,25
3,Carlos Souza,40
4,João Silva,30
7,igor miguel,30

# \-\> Commit e Rollback com Condicionais

\-\> Se existe desfaz a transação, se não existir, salve a transação

In [34]:
DECLARE @contador INT


begin tran T1
INSERT into Cliente_aux
(id_cliente, nome, idade)
    VALUES
(NEXT VALUE FOR clientes_seq, 'igor miguel', 30)

SELECT @contador = COUNT(*) FROM Cliente_AUX WHERE nome = 'igor miguel'

if @contador <= 1
    BEGIN
        COMMIT TRANSACTION T1
        PRINT 'igor campos cadastrada com sucesso'

END

ELSE
    BEGIN
        ROLLBACK TRANSACTION T1
        PRINT 'igor ja cadastrada'
END